@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.banner {
  background-image: url("../assets//images/backgroundmap1.jpg");
}
.mapimg {
  background-image: url("../assets/images/backgroundmap2.jpg");
}

.subscribeimg {
  background-image: url("../assets/images/subscribeimg.jpg");
}

.meetingImg {
  background-image: url("../assets/images/videoimg.jpg");
}
svg.ml-1.h-7.w-7 {
  color: black;
  background-color: #c8c3c3;
  border-radius: 14px;
  padding: 4px;
}
span.block.h-3.w-3.cursor-pointer.rounded-full.transition-colors.content-\[\'\'\].bg-white {
  background-color: black;
}
svg.-ml-1.h-7.w-7 {
  color: black;
  background-color: #c8c3c3;
  border-radius: 14px;
  padding: 4px;
}
.heroImg{
  background-image: url("../assets/images/heroImg.jpg");
}
.downloadImg{
 background-image: url("../assets/images/homeImg.jpg");
}