@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: url("../assets//images/backgroundmap1.jpg");
}
.subscribeimg {
  background-image: url("../assets/images/subscribeimg.jpg");
}
.meetingImg {
  background-image: linear-gradient(90deg ,rgba(17, 17, 17, 1),
  rgba(102, 102, 102, 0)), url(
    "../assets/images/videoimg.jpg");
}
.heroImg{
  background-image: url("../assets/images/heroImg.jpg");
}
.downloadImg{
 background-image: url("../assets/images/homeImg.jpg");
}
.fixedDrawer > .absolute {
  position: fixed
}